<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, voluptas. Ab, molestias, odio hic est saepe, debitis dolorum totam veniam eveniet cum iste dicta obcaecati voluptatibus quod eius ullam eum?</p>

<p>{{messageForChild}}</p>

<app-basic-card [message]="messageForChild" (messageClicked)="receiedMessage($event)"></app-basic-card>
<app-basic-section></app-basic-section>

<form action="">
    <div>
        <label for=""></label>
        <input type="text" [(ngModel)]="messageForChild" [value]="messageForChild">
    </div>
</form>